html, body {
    height: 600px;
    margin: 0;
  }

  body {
    background: black;
    align-items: center;
    justify-content: center;
  }   

  canvas {
    border: 1px solid white;
  }

ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  left:0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #081567;
}

.active {
  background-color: #040e4f;
}
@media only screen and (max-width: 460px) {
#GVP {
  width:70%;
  object-fit:contain;
}
}