html, body {
    height: 600px;
    margin: 0;
  }

  body {
    background: black;
    align-items: center;
    justify-content: center;
  }   

  canvas {
    border: 1px solid white;
  }
@media only screen and (max-width: 460px) {
#GVP {
  width:70%;
  object-fit:contain;
}
}